.avatar {
  max-width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.review-avatar {
  width: 4rem;
  height: 4rem;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}

.auth-gradient {
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.custom-tooltip .tooltip-inner {
  background-color: #667eea;
  color: white;
  font-size: 0.875em;
  max-width: 30em;
  padding: 0.875em;
  border-radius: 1em;
}

.custom-tooltip .tooltip-arrow::before {
  border-right-color: #667eea;
}
